html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
del,
em,
img,
small,
strong,
b,
u,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
button,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    word-wrap: break-word;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: inherit;
    font-weight: inherit;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

a img {
    border: none;
}

article,
aside,
details,
figure,
footer,
header,
menu,
nav,
section,
summary {
    display: block;
}

.mx-0 {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.my-0 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.m-0 {
    margin: 0rem !important;
}

.mt-0 {
    margin-top: 0rem !important;
}

.ml-0 {
    margin-left: 0rem !important;
}

.mr-0 {
    margin-right: 0rem !important;
}

.mb-0 {
    margin-bottom: 0rem !important;
}

.mx-5 {
    margin-left: 0.3125rem !important;
    margin-right: 0.3125rem !important;
}

.my-5 {
    margin-top: 0.3125rem !important;
    margin-bottom: 0.3125rem !important;
}

.m-5 {
    margin: 0.3125rem !important;
}

.mt-5 {
    margin-top: 0.3125rem !important;
}

.ml-5 {
    margin-left: 0.3125rem !important;
}

.mr-5 {
    margin-right: 0.3125rem !important;
}

.mb-5 {
    margin-bottom: 0.3125rem !important;
}

.mx-10 {
    margin-left: 0.625rem !important;
    margin-right: 0.625rem !important;
}

.my-10 {
    margin-top: 0.625rem !important;
    margin-bottom: 0.625rem !important;
}

.m-10 {
    margin: 0.625rem !important;
}

.mt-10 {
    margin-top: 0.625rem !important;
}

.ml-10 {
    margin-left: 0.625rem !important;
}

.mr-10 {
    margin-right: 0.625rem !important;
}

.mb-10 {
    margin-bottom: 0.625rem !important;
}

.mx-15 {
    margin-left: 0.9375rem !important;
    margin-right: 0.9375rem !important;
}

.my-15 {
    margin-top: 0.9375rem !important;
    margin-bottom: 0.9375rem !important;
}

.m-15 {
    margin: 0.9375rem !important;
}

.mt-15 {
    margin-top: 0.9375rem !important;
}

.ml-15 {
    margin-left: 0.9375rem !important;
}

.mr-15 {
    margin-right: 0.9375rem !important;
}

.mb-15 {
    margin-bottom: 0.9375rem !important;
}

.mx-20 {
    margin-left: 1.25rem !important;
    margin-right: 1.25rem !important;
}

.my-20 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.m-20 {
    margin: 1.25rem !important;
}

.mt-20 {
    margin-top: 1.25rem !important;
}

.ml-20 {
    margin-left: 1.25rem !important;
}

.mr-20 {
    margin-right: 1.25rem !important;
}

.mb-20 {
    margin-bottom: 1.25rem !important;
}

.mx-25 {
    margin-left: 1.5625rem !important;
    margin-right: 1.5625rem !important;
}

.my-25 {
    margin-top: 1.5625rem !important;
    margin-bottom: 1.5625rem !important;
}

.m-25 {
    margin: 1.5625rem !important;
}

.mt-25 {
    margin-top: 1.5625rem !important;
}

.ml-25 {
    margin-left: 1.5625rem !important;
}

.mr-25 {
    margin-right: 1.5625rem !important;
}

.mb-25 {
    margin-bottom: 1.5625rem !important;
}

.mx-30 {
    margin-left: 1.875rem !important;
    margin-right: 1.875rem !important;
}

.my-30 {
    margin-top: 1.875rem !important;
    margin-bottom: 1.875rem !important;
}

.m-30 {
    margin: 1.875rem !important;
}

.mt-30 {
    margin-top: 1.875rem !important;
}

.ml-30 {
    margin-left: 1.875rem !important;
}

.mr-30 {
    margin-right: 1.875rem !important;
}

.mb-30 {
    margin-bottom: 1.875rem !important;
}

.mx-auto {
    margin-left: 0rem "auto"/16 !important;
    margin-right: 0rem "auto"/16 !important;
}

.my-auto {
    margin-top: 0rem "auto"/16 !important;
    margin-bottom: 0rem "auto"/16 !important;
}

.m-auto {
    margin: 0rem "auto"/16 !important;
}

.mt-auto {
    margin-top: 0rem "auto"/16 !important;
}

.ml-auto {
    margin-left: 0rem "auto"/16 !important;
}

.mr-auto {
    margin-right: 0rem "auto"/16 !important;
}

.mb-auto {
    margin-bottom: 0rem "auto"/16 !important;
}

.px-0 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.py-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.p-0 {
    padding: 0rem !important;
}

.pt-0 {
    padding-top: 0rem !important;
}

.pl-0 {
    padding-left: 0rem !important;
}

.pr-0 {
    padding-right: 0rem !important;
}

.pb-0 {
    padding-bottom: 0rem !important;
}

.px-5 {
    padding-left: 0.3125rem !important;
    padding-right: 0.3125rem !important;
}

.py-5 {
    padding-top: 0.3125rem !important;
    padding-bottom: 0.3125rem !important;
}

.p-5 {
    padding: 0.3125rem !important;
}

.pt-5 {
    padding-top: 0.3125rem !important;
}

.pl-5 {
    padding-left: 0.3125rem !important;
}

.pr-5 {
    padding-right: 0.3125rem !important;
}

.pb-5 {
    padding-bottom: 0.3125rem !important;
}

.px-10 {
    padding-left: 0.625rem !important;
    padding-right: 0.625rem !important;
}

.py-10 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

.p-10 {
    padding: 0.625rem !important;
}

.pt-10 {
    padding-top: 0.625rem !important;
}

.pl-10 {
    padding-left: 0.625rem !important;
}

.pr-10 {
    padding-right: 0.625rem !important;
}

.pb-10 {
    padding-bottom: 0.625rem !important;
}

.px-15 {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
}

.py-15 {
    padding-top: 0.9375rem !important;
    padding-bottom: 0.9375rem !important;
}

.p-15 {
    padding: 0.9375rem !important;
}

.pt-15 {
    padding-top: 0.9375rem !important;
}

.pl-15 {
    padding-left: 0.9375rem !important;
}

.pr-15 {
    padding-right: 0.9375rem !important;
}

.pb-15 {
    padding-bottom: 0.9375rem !important;
}

.px-20 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.py-20 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.p-20 {
    padding: 1.25rem !important;
}

.pt-20 {
    padding-top: 1.25rem !important;
}

.pl-20 {
    padding-left: 1.25rem !important;
}

.pr-20 {
    padding-right: 1.25rem !important;
}

.pb-20 {
    padding-bottom: 1.25rem !important;
}

.px-25 {
    padding-left: 1.5625rem !important;
    padding-right: 1.5625rem !important;
}

.py-25 {
    padding-top: 1.5625rem !important;
    padding-bottom: 1.5625rem !important;
}

.p-25 {
    padding: 1.5625rem !important;
}

.pt-25 {
    padding-top: 1.5625rem !important;
}

.pl-25 {
    padding-left: 1.5625rem !important;
}

.pr-25 {
    padding-right: 1.5625rem !important;
}

.pb-25 {
    padding-bottom: 1.5625rem !important;
}

.px-30 {
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important;
}

.py-30 {
    padding-top: 1.875rem !important;
    padding-bottom: 1.875rem !important;
}

.p-30 {
    padding: 1.875rem !important;
}

.pt-30 {
    padding-top: 1.875rem !important;
}

.pl-30 {
    padding-left: 1.875rem !important;
}

.pr-30 {
    padding-right: 1.875rem !important;
}

.pb-30 {
    padding-bottom: 1.875rem !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: -.025em;
}

p {
    line-height: 1.45;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.1875rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.53125rem;
}

h4 {
    font-size: 1.3125rem;
}

h5 {
    font-size: 1.09375rem;
}

h6 {
    font-size: 0.875rem;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-jc-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-jc-spbw {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-jc-spar {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.row>[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.row-no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.row-no-gutters>[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}


/* Grid for all screen
 * Ex: col-1, col-2 */

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}


/* Grid for screen min-width: $small
 * Ex: col-small-1, col-small-2 */

@media (min-width: 480px) {
    .col-small-1 {
        width: 8.33333%;
    }
    .col-small-2 {
        width: 16.66667%;
    }
    .col-small-3 {
        width: 25%;
    }
    .col-small-4 {
        width: 33.33333%;
    }
    .col-small-5 {
        width: 41.66667%;
    }
    .col-small-6 {
        width: 50%;
    }
    .col-small-7 {
        width: 58.33333%;
    }
    .col-small-8 {
        width: 66.66667%;
    }
    .col-small-9 {
        width: 75%;
    }
    .col-small-10 {
        width: 83.33333%;
    }
    .col-small-11 {
        width: 91.66667%;
    }
    .col-small-12 {
        width: 100%;
    }
}


/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */

@media (min-width: 768px) {
    .col-medium-1 {
        width: 8.33333%;
    }
    .col-medium-2 {
        width: 16.66667%;
    }
    .col-medium-3 {
        width: 25%;
    }
    .col-medium-4 {
        width: 33.33333%;
    }
    .col-medium-5 {
        width: 41.66667%;
    }
    .col-medium-6 {
        width: 50%;
    }
    .col-medium-7 {
        width: 58.33333%;
    }
    .col-medium-8 {
        width: 66.66667%;
    }
    .col-medium-9 {
        width: 75%;
    }
    .col-medium-10 {
        width: 83.33333%;
    }
    .col-medium-11 {
        width: 91.66667%;
    }
    .col-medium-12 {
        width: 100%;
    }
}


/* Grid for screen min-width: $large
 * Ex: col-large-1, col-large-2 */

@media (min-width: 1024px) {
    .col-large-1 {
        width: 8.33333%;
    }
    .col-large-2 {
        width: 16.66667%;
    }
    .col-large-3 {
        width: 25%;
    }
    .col-large-4 {
        width: 33.33333%;
    }
    .col-large-5 {
        width: 41.66667%;
    }
    .col-large-6 {
        width: 50%;
    }
    .col-large-7 {
        width: 58.33333%;
    }
    .col-large-8 {
        width: 66.66667%;
    }
    .col-large-9 {
        width: 75%;
    }
    .col-large-10 {
        width: 83.33333%;
    }
    .col-large-11 {
        width: 91.66667%;
    }
    .col-large-12 {
        width: 100%;
    }
}


/* Grid for screen min-width: $largest
 * Ex: col-largest-1, col-largest-2 */

@media (min-width: 1280px) {
    .col-largest-1 {
        width: 8.33333%;
    }
    .col-largest-2 {
        width: 16.66667%;
    }
    .col-largest-3 {
        width: 25%;
    }
    .col-largest-4 {
        width: 33.33333%;
    }
    .col-largest-5 {
        width: 41.66667%;
    }
    .col-largest-6 {
        width: 50%;
    }
    .col-largest-7 {
        width: 58.33333%;
    }
    .col-largest-8 {
        width: 66.66667%;
    }
    .col-largest-9 {
        width: 75%;
    }
    .col-largest-10 {
        width: 83.33333%;
    }
    .col-largest-11 {
        width: 91.66667%;
    }
    .col-largest-12 {
        width: 100%;
    }
}

.page-header {
    padding: 10px;
    padding: 0.625rem;
    background: #e9eaec;
    text-align: center;
    padding: 0;
}

.page-header .header-top {
    background-color: #fff;
    border-bottom: #777 solid 1px;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.9375rem 0px;
}

.page-header .header-top .header-left .language {
    padding: 0.25rem 0.9375rem;
}

.page-header .header-top .header-left .curency {
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    padding: 0.25rem 0.9375rem;
}

.page-header .header-top .header-left .phone-number {
    padding: 0rem 0.9375rem;
}

.page-header .header-top .header-right {
    line-height: 0px;
}

.page-header .header-top .header-right .header-right-title span {
    color: #c61a32;
}

.header-nav {
    background-color: #fff;
    text-align: center;
    height: 6.25rem;
    line-height: 6.25rem;
}

.header-nav .header-logo {
    line-height: 6.25rem;
}

.header-nav .header-menu {
    gap: 2.5rem;
}

.header-nav .header-menu .menu-item {
    font-size: 1rem;
}

.header-nav .header-menu .menu-item :hover {
    color: #a749ff;
}

.header-nav .social-list {
    gap: 1.25rem;
}

.header-nav .social-list .social-item sup {
    font-size: 0.625rem;
    line-height: 1.25rem;
    background: #111;
    color: #fff;
    padding: 0.125rem 0.3125rem;
    text-align: center;
    border-radius: 50%;
}

.header-nav .social-list .social-item a {
    color: #111;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.page-main {
    padding: 30px 0px;
    padding: 1.875rem 0rem;
    min-height: 80vh;
}

.page-footer {
    padding: 10px;
    padding: 0.625rem;
    background: #e9eaec;
}

.footer {
    margin: 2.5rem 0 0 0;
    padding: 3.75rem 0;
}

.footer .footer-middle-3-col {
    width: 50%;
}

.footer .footer-left,
.footer .footer-middle-3-col,
.footer .footer-middle-col,
.footer .footer-right {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.footer .footer-middle-title,
.footer .footer-right-title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #333;
}

.footer .footer-right {
    width: 25%;
}

.footer .footer-right .footer-right-content {
    color: #333;
    font-size: 1rem;
    line-height: 1.25rem;
    display: block;
    width: 100%;
}

.footer .footer-right .footer-right-content p {
    text-align: justify;
    letter-spacing: 0;
}

.footer .footer-right .footer-right-text {
    font-size: 0.625rem;
    color: #111;
    border: none;
    border-bottom: 0.125rem solid #111;
    border-radius: 0;
    background: transparent;
    outline: none;
}

.footer .footer-right .btn-sub {
    font-size: 1rem;
    line-height: 1;
    width: auto;
    height: auto;
    text-transform: uppercase;
    color: #313131;
    border: none;
    border-bottom: 0.125rem solid #f1f1f1;
    background: none;
    text-align: justify;
}

.btn {
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border-radius: 0.5rem;
    font-size: 18px;
    font-size: 1.125rem;
    height: 40px;
    height: 2.5rem;
    background: #333;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: background 400ms ease;
    transition: background 400ms ease;
    border: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn:focus {
    outline: none;
}

.btn.disabled,
.btn:disabled {
    pointer-events: none;
    background: #f7f7f7;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
    padding: 8px;
    padding: 0.5rem;
    height: 40px;
    height: 2.5rem;
    border-radius: 8px;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid #e4e4e4;
    background: #fff;
    outline: none;
    -webkit-transition: border-color 0.4s;
    transition: border-color 0.4s;
    display: block;
    -webkit-appearance: none;
    -webkit-transition: border-color 0.4s, -webkit-box-shadow 0.4s;
    transition: border-color 0.4s, -webkit-box-shadow 0.4s;
    transition: border-color 0.4s, box-shadow 0.4s;
    transition: border-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 0 1px;
    box-shadow: 0 0 0 1px;
}

input[type="text"]:disabled,
input[type="text"].disabled,
input[type="password"]:disabled,
input[type="password"].disabled,
input[type="tel"]:disabled,
input[type="tel"].disabled,
input[type="number"]:disabled,
input[type="number"].disabled,
select:disabled,
select.disabled,
textarea:disabled,
textarea.disabled {
    background: #f7f7f7;
    border-color: #f7f7f7;
}

input[type="text"][readonly],
input[type="password"][readonly],
input[type="tel"][readonly],
input[type="number"][readonly],
select[readonly],
textarea[readonly] {
    border-color: #e4e4e4;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

textarea {
    resize: vertical;
}

label {
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
    display: block;
}

.form-group {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}


/* section-slideshow */

.section-slideshow {
    position: relative;
}

.section-slideshow .btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-slideshow .btn-prev {
    left: 10%;
}

.section-slideshow .btn-next {
    right: 10%;
}

.slide-item img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-item .slide-content {
    position: absolute;
    top: 30%;
    right: 20%;
    text-transform: capitalize;
    top: 20%;
    right: 55%;
    color: #fff;
}

.slide-item .slide-content .slide-content-sale {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-left: 8.125rem;
}

.slide-item .slide-content .slide-content-sale::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 6.25rem;
    height: 0.125rem;
}

.slide-item .slide-content .slide-content-desc {
    font-size: 3.75rem;
    line-height: 5rem;
    margin: 0.375rem 0 2.5rem;
    color: #fff;
}

.slide-item .slide-content .btn-shop-now {
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    line-height: 1;
    display: inline-block;
    background-color: #c61a32;
    color: #fff;
    border: 0.125rem solid #fff;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    border-radius: 50px;
}

.slide-item .slide-content .btn-shop-now:hover {
    -webkit-box-shadow: inset 12.5rem 0 0 0 #a749ff;
    box-shadow: inset 12.5rem 0 0 0 #a749ff;
    color: #fff;
}


/* section-banner first */

.section-banner {
    margin: 2.5rem 0;
}

.section-banner .banner-first-list {
    gap: 2.5rem;
}

.section-banner .banner-img-second {
    gap: 2.5rem;
}

.banner-item {
    position: relative;
}

.banner-item .banner-img {
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0.625rem auto;
    display: block;
}

.banner-item .banner-img img {
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.banner-item .banner-img:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}


/* section-product */

.section-product .product-tab-list {
    gap: 1.25rem;
    font-size: 1.25rem;
    padding-bottom: 2.5rem;
}

.section-product .product-tab-list .active a {
    margin-top: 1.25rem;
    border-bottom: 0.125rem solid #111;
}

.section-product .product-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-product .product-view-more {
    text-transform: uppercase;
    padding-top: 2.5rem;
    text-align: center;
}

.section-product .product-view-more :hover {
    color: #a749ff;
}

.product-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-list .product-item {
    position: relative;
    padding-right: 1.25rem;
    line-height: 2;
}

.product-list .product-item .product-img .product-img-badge {
    position: absolute;
    top: 4%;
    right: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    font-size: 0.8125rem;
}

.product-list .product-item .product-img .product-img-badge .product-sale {
    background-color: #fa6bff;
    padding: 0 0.4375rem;
    border-radius: 0.3125rem;
}

.product-list .product-item .product-img .product-img-badge .product-new {
    margin-top: 0.3125rem;
    background-color: #a749ff;
    padding: 0 0.4375rem;
    border-radius: 0.3125rem;
}

.product-list .product-item .product-img img {
    height: 100%;
}

.product-list .product-item .product-img .img-total-action {
    position: absolute;
    top: 75%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 87%;
    padding: 0.625rem 0;
}

.product-list .product-item .product-img .img-total-action .btn-add-to-wish,
.product-list .product-item .product-img .img-total-action .btn-add-to-cart,
.product-list .product-item .product-img .img-total-action .btn-add-to-compare,
.product-list .product-item .product-img .img-total-action .btn-quick-view {
    font-size: 0.875rem;
    padding: 0;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.1875rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    text-align: center;
    color: #111;
    border: none;
    border-radius: 3.125rem;
    background: none;
    background-color: #fff;
}

.product-list .product-item .product-img .img-total-action:hover .btn-add-to-wish,
.product-list .product-item .product-img .img-total-action:hover .btn-add-to-cart,
.product-list .product-item .product-img .img-total-action:hover .btn-add-to-compare,
.product-list .product-item .product-img .img-total-action:hover .btn-quick-view {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.product-list .product-item .product-img .img-total-action .btn-add-to-wish:hover,
.product-list .product-item .product-img .img-total-action .btn-add-to-cart:hover,
.product-list .product-item .product-img .img-total-action .btn-add-to-compare:hover,
.product-list .product-item .product-img .img-total-action .btn-quick-view:hover {
    background-color: #fa6bff;
    color: #fff;
}

.product-list .product-item .product-img .img-total-action:hover {
    background-color: #a749ff;
}

.product-list .product-item .product-info {
    line-height: 2.5rem;
    padding-top: 0.625rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.product-list .product-item .product-info .product-item-price {
    font-weight: 400;
    line-height: 2.5rem;
}

.product-list .product-item .product-info .product-item-price span {
    color: #c61a32;
}


/* section-banner second*/

.banner-second {
    position: relative;
}

.banner-second .banner-info {
    position: absolute;
    top: 11%;
    left: 5%;
    font-size: 1.25rem;
}

.banner-second .banner-info .banner-name {
    color: #915342;
    font-size: 1.875rem;
}

.banner-second .banner-next-shop {
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 1.25rem;
}

.banner-second .banner-next-shop:hover {
    color: #915342;
}


/* section-deal */

.deal-info {
    margin-left: 3.125rem;
    line-height: 2;
}

.deal-info h2 {
    font-size: 3.125rem;
    font-weight: 400;
    text-align: center;
}

.deal-info .deal-time {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #777;
}

.deal-info .deal-time span {
    margin-left: 1.875rem;
}

.deal-info .btn-shop-now {
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    line-height: 1;
    display: inline-block;
    background-color: #c61a32;
    color: #fff;
    margin: 0.625rem 12.5rem;
    border: 0.125rem solid #fff;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    text-transform: uppercase;
    border-radius: 3.125rem;
}

.deal-info .btn-shop-now:hover {
    -webkit-box-shadow: inset 12.5rem 0 0 0 #a749ff;
    box-shadow: inset 12.5rem 0 0 0 #a749ff;
    color: #fff;
}


/*section-banner-text */

.section-banner-text {
    margin-top: 3.125rem;
    text-align: center;
}

.section-banner-text .banner-text-item {
    padding: 1.5625rem 0px;
    margin-left: -1.875rem;
}

.section-banner-text .left {
    background-color: #ccfbe9;
}

.section-banner-text .mid {
    background-color: #f2fbcc;
}

.section-banner-text .right {
    background-color: #ddfbcc;
}


/* section-blog */

.section-blog {
    margin: 2.5rem 0 0 0;
}

.section-blog .blog-title {
    position: relative;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding-bottom: 1.25rem;
    line-height: 2;
}

.section-blog .blog-title h2::before {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 7.5rem;
    height: 0.125rem;
    content: "";
    background-color: #111;
}

.section-blog .blog-title h2::after {
    position: absolute;
    top: 30%;
    right: 30%;
    width: 7.5rem;
    height: 0.125rem;
    content: "";
    background-color: #111;
}

.blog-list {
    gap: 1.25rem;
    margin-bottom: 15%;
}

.blog-list .blog-item {
    position: relative;
    margin-left: -1.25rem;
}

.blog-list .blog-item .blog-img {
    height: auto;
    overflow: hidden;
    display: block;
}

.blog-list .blog-item .blog-img a img {
    max-width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.blog-list .blog-item .blog-img a:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.blog-list .blog-item .blog-img .blog-tag {
    position: absolute;
    top: 1.25rem;
    margin-left: 15rem;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
}

.blog-list .blog-item .blog-img .blog-tag span {
    background-color: #c61a32;
    padding: 0.1875rem 0.4375rem;
    margin-left: 0.3125rem;
}

.blog-list .blog-item .blog-content {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #f6f3f3;
    text-align: center;
    padding: 1rem 0;
    width: 90%;
    position: absolute;
    margin-top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .menu-list {
        gap: 1.875rem;
    }
    .slide-content {
        margin-right: -5%;
    }
    .btn-prev {
        margin-left: -5%;
    }
    .btn-next {
        margin-right: -5%;
    }
    .banner-first-list {
        margin-left: 6.25rem;
    }
    .col-3 {
        width: 33.333333334%;
    }
    .banner-info {
        margin-left: 1.25rem;
    }
    .banner-next-shop {
        margin-left: 1.25rem;
    }
    .blog-item:first-child {
        margin-left: 0rem;
    }
    .blog-tag {
        left: -14%;
    }
}

@media (max-width: 768px) {
    .page-header {
        margin-top: -2%;
    }
    .header-top,
    .header-menu,
    .icon-search,
    .icon-user,
    .btn-slide {
        display: none;
    }
    .section-slideshow {
        margin-top: -6%;
    }
    .slide-img {
        background-position: 20% !important;
        -webkit-filter: blur(1.5px);
        filter: blur(1.5px);
    }
    .slide-content {
        margin-right: -18%;
        margin-top: -3%;
    }
    .btn-shop-now {
        margin-top: -8%;
    }
    .col-3 {
        width: 50%;
    }
    .banner-next-shop {
        margin-top: -1.25rem;
    }
    .deal-info {
        margin-left: -2.5rem;
        line-height: 2;
    }
    .deal-info h2 {
        font-size: 1.875rem;
    }
    .deal-info .deal-time {
        font-size: 1.25rem;
    }
    .deal-info .btn-shop-now {
        padding: 0.625rem 1.25rem;
        font-size: 0.75rem;
        width: 6.8125rem;
    }
    .banner-text-item:first-child {
        margin-left: 0rem;
    }
    .section-blog {
        margin: 2.5rem 0 0 0;
    }
    .section-blog .blog-title {
        font-size: 1.25rem;
    }
    .section-blog .blog-title h2::before {
        position: absolute;
        top: 30%;
        left: 30%;
        width: 0rem;
    }
    .section-blog .blog-title h2::after {
        width: 0rem;
    }
    .blog-list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .blog-item {
        width: 48%;
        margin: 0 auto;
    }
    .blog-item:nth-child(3) {
        margin: 15% 0;
    }
    .footer-right {
        width: 100%;
    }
    .wrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .footer-middle-3-col {
        width: 100%;
    }
    .page-footer {
        position: relative;
        padding: 1.25rem 0;
    }
    .page-footer .footer-left {
        font-size: 0.9375rem;
    }
    .page-footer .footer-right {
        width: 10%;
        position: absolute;
        bottom: 0;
        text-align: justify;
        font-size: 0.75rem;
        display: none;
    }
    .page-footer .footer-middle-3-col {
        padding-bottom: 6.25rem;
        width: 70%;
    }
    .page-footer .footer-middle-3-col .footer-middle-title {
        font-size: 0.75rem;
        line-height: 1.5625rem;
    }
    .page-footer .footer-middle-3-col .footer-middle-item {
        font-size: 0.75rem;
        line-height: 1.75rem;
    }
}

@media (max-width: 480px) {
    .slide-item .slide-content {
        right: 32%;
    }
    .slide-item .slide-content .slide-content-sale {
        font-size: 1.25rem;
        left: -50%;
    }
    .slide-item .slide-content .slide-content-sale::before {
        width: 0rem;
    }
    .slide-item .slide-content .slide-content-desc {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .slide-item .slide-content .btn-shop-now {
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
        margin-top: -5%;
    }
    .banner-first-list {
        margin-left: 0.625rem;
    }
    .col-5,
    .col-3,
    .col-4 {
        width: 100%;
    }
    .section-banner-text .banner-text-item {
        margin-left: 0.625rem;
    }
    .blog-item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .blog-item .blog-img a img {
        margin-left: 7%;
    }
    .blog-item .blog-img .blog-tag {
        left: 9%;
    }
    .blog-item:nth-child(2) {
        margin: 26% 0 10% 0;
    }
}

.is-hidden {
    display: none;
}


/*# sourceMappingURL=style.css.map */